<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD8i4gvLZ48HNxSTgeinfSWePIs18YLCoc</string>
	<key>GCM_SENDER_ID</key>
	<string>12298759182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>onurBostan.SpaceBS</string>
	<key>PROJECT_ID</key>
	<string>spacebs-f2c4d</string>
	<key>STORAGE_BUCKET</key>
	<string>spacebs-f2c4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12298759182:ios:a7e7376e44a003ac1d205f</string>
</dict>
</plist>